block ICONS
	+ie(prefix, 310, 150, 70)
	// ICONS - DEFAULT FAVICONS
	+favicon(prefix, 48, 32, 16)
	// ICONS - IOS7 APPLE DEFAULT ICONS
	+apple(prefix, 512, 256, 128, 72, 57, 50, 32, 29, 16)
	// ICONS - CHROME ANDROID ICONS
	+android(prefix, 192, 128, 96, 72, 48, 38, 36, 32, 25, 24, 19)
	// ICONS - IOS7 IPHONE ICONS
	+iphone(prefix, 60)
	// ICONS - IOS7 IPAD ICONS
	+ipad(prefix, 76)
	// ICONS - IOS7 SPOTLIGHT ICONS
	+spotlight(prefix, 40)
	// ICONS - IOS7 SETTINGS ICONS
	+settings(prefix, 29)