- var sidebar_json = [{"icon":"fa-tachometer","enabled":true,"children":[],"class":"","key":0,"name":"Link","url":"#"},{"icon":"fa-bar-chart","enabled":true,"children":[],"class":"","key":1,"name":"Link","url":"#"},{"icon":"fa-file-o","enabled":true,"children":[],"class":"","key":2,"name":"Link","url":"#"},{"icon":"fa-envelope","enabled":true,"children":[],"class":"","key":3,"name":"Link","url":"#"}]
ul#container-sidebar.nav.navbar-nav.navbar-sidebar
	+ navbar-sidebar(sidebar_json)