.navbar-inverse
	.brand-hero.hidden-xs
		img.img.img-responsive.hidden-xs(id="logo", src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/153562/doug.hill.designs.logo.glass.png", height="")
	#sidebar.navbar-collapse.collapse
		ul.nav.navbar-nav.nav-sidebar
			li.active
				a
					i.fa.fa-comments
					span Discussion
			li
				a
					i.fa.fa-graduation-cap
					span Tutorials
			li
				a
					i.fa.fa-flask
					span Playground
			li
				a
					i.fa.fa-clipboard
					span Material
			li
				a
					i.fa.fa-book
					span Reference
			li
				a
					i.fa.fa-user
					span About					