// BASE RESETS
/* ************************************************************************************************************ */
body {
	background:					#adadad;
	font-family:				"Open Sans", "Lucida Grande", "Segoe UI", "Geneva", "Franklin Gothic Medium", "Arial", sans-serif;
	font-size:					12px;
}
a {
	color: 						#350B06;
	&:hover, &:focus {
		color: 					lighten(#6E1417, 15%);
		text-decoration: 		none;
	}
}
