//- VARIABLES
//- GLOBAL MIXIN VARS - EDIT THESE WITH EXTREME CAUTION

//- TEMPLATE INCLUDES
//- DOCUMENT TEMPLATES
include document/favicons.jade

//- NAVIGATION TEMPLATES
include navigation/navbar.navs.messages.jade
include navigation/navbar.navs.alerts.jade
include navigation/navbar.navs.progressbars.jade
include navigation/navbar.navs.usermenu.jade
include navigation/navbar.dropdown.jade

//- BLOG TEMPLATES
include blog/post.preview.jade
include blog/post.search.jade
include blog/post.categories.jade
include blog/post.text.block.jade
include blog/post.media.block.jade
